/* general */

body {
  margin: 0px;
  overflow: hidden;

  background: black;
}

/* speechbubbles */

.speechbubble {
  font-family: "sanvito-pro-display", sans-serif;
  font-size: 50pt;
  line-height: 1.2em;
}

/* main area images */

main {
  display: grid;
  grid-template-columns: auto calc(100vh / 9 * 16) auto;
  grid-template-rows: 0vh 100vh;
}

main img {
  height: 100vh;
  overflow: hidden;
}

#images {
  grid-area: 1 / 2 / 2 / 3;

  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

#sketch {
  grid-area: 1 / 2 / 2 / 3;

  z-index: 20;
}

#portrait {
  z-index: 10;
}

#workplace {
  z-index: 0;
}